@page "/questions/{questionId}"

@inherits HelpoPage

@inject QuestionsService QuestionsService

@if (this._question is null)
{
    <div class="d-flex justify-center mt-4">
        <MudProgressCircular Indeterminate="true" Size="Size.Medium" />
    </div>
}
else
{
    <MudText>@this._question.Title</MudText>
}

@code {
    #nullable enable

    public override string Title => "Question";

    [Parameter]
    public string QuestionId { get; set; } = default!;

    private Question? _question = default;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var (question, createdBy) = await this.QuestionsService.GetQuestion(this.QuestionId);

        await Task.Delay(TimeSpan.FromSeconds(5));

        this._question = question;
    }
}