@page "/Questions"
@using Helpo.Shared.Toolbars
@implements IAsyncDisposable

<h1>Counter</h1>

<p>Current count: @_currentCount</p>

<MudButton OnClick="@IncrementCount">Click me</MudButton>

@code {

    [Inject]
    public ISnackbar Snackbar { get; set; } = default!;

    [CascadingParameter]
    public Toolbar Toolbar { get; set; } = default!;

    private readonly ToolbarButton _addQuestionButton;

    public Questions()
    {
        this._addQuestionButton = ToolbarButton.Create(Icons.Material.Add, "Swag", this.IncrementCount);
    }

    protected override async Task OnInitializedAsync()
    {
        await this.Toolbar.AddButton(this._addQuestionButton);
    }

    public async ValueTask DisposeAsync()
    {
        await this.Toolbar.RemoveButton(this._addQuestionButton);
    }

    private int _currentCount = 0;

    private void IncrementCount()
    {
        _currentCount++;
        this.StateHasChanged();
    }
    
    private void AddQuestionClick()
    {
        this.Snackbar.Add("Yihaaaa");
    }
}
